*{
    margin: 0;
    padding: 0;    
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: url('/img/fundo.gif') no-repeat center center fixed;    
    background-size: cover;
    background: rgb(2,121,122);
    background: linear-gradient(27deg, rgba(2,121,122,1) 0%, rgba(193,134,8,1) 100%);       
}



a{
    text-decoration: none;
    color: inherit;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.contanier{
    display: grid;
    grid-template-rows: 103px 24px 42px 195px 1fr;
    grid-template-columns: auto;    
    gap: 20px;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-radius: 3%;
    border-color: #1bb0ce;
    background-color: #dad6ca;
}

.contanier .campo-img{
    position: relative; 
    left: 50%;   
    transform: translate(-50%);
    
    width: 103px;
    height: 103px;
}

.contanier .campo-img .img-circula{    
    width: 110px;
    height: 110px;
    margin-top: 6px;
    border-style: double;
    border-radius: 100%;    
    border-color: #1bb0ce;
}

.contanier .campo-nome{    
    margin-top: 6px;
    height: 24px;
}

.contanier .campo-descricao{
    /*font-family: "Playwrite NG Modern", cursive;*/
    font-optical-sizing: auto;
    
    font-style: normal;

    height: 50px;
    margin: 0px;
}

.contanier .campo-link{      
    display: grid;
    height: 154px;    
    grid-auto-rows: 1fr;
    gap: 10px;
}

.contanier .campo-link .link1, .link2, .link3{
    position: relative; 
    left: 50%;     
    transform: translate(-50%);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 4%;
    text-align: center;
    width: 50%;
    background-color: #1bb0ce;       
}

.contanier .campo-link .link1:hover{
    font-size: 26px;
}

.contanier .campo-link .link2:hover{
    font-size: 26px;
}

.contanier .campo-link .link3:hover{
    font-size: 26px;
}

.contanier .campo-github{
    
    position: relative;
    top: -120%;
    /*display: grid;
    justify-content: center;*/
    text-align: center;
}

.contanier .campo-github .icon-git, .icon-insta, .icon-linkedin{    
    display: inline-block;
    font-size: 26px;
    width: 30px;
/*    position: relative;
    left: 50%;
    transform: translate(-30%);*/
}

.contanier .campo-github .icon-git:hover{
    font-size: 25px;    
}

.contanier .campo-github .icon-insta:hover{
    font-size: 25px;    
}

.contanier .campo-github .icon-linkedin:hover{
    font-size: 25px;    
}

@media screen and (max-width: 414px){
    .contanier{
        display: grid;
        grid-template-rows: auto;
        width: 100%;
        height: 100vh;
        border-radius: 0%;
        border-bottom-style: none;
        border-top: none;
        background: rgb(2,121,122);
        background: linear-gradient(27deg, rgba(2,121,122,1) 0%, rgba(193,134,8,1) 100%);       
    }

    .contanier .campo-img{        
        display: grid;
        grid-template-rows: auto;
        min-width: 160px;
        min-height: 160px;
        justify-content: center;
        position: relative;
        top: 50%;           
    }

    .contanier .campo-img .img-circula{
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 0px 50px;                 
    }

    .contanier .campo-nome{        
        color: #fffafa;
        position: relative;

        top: 100%;
    }

    .contanier .campo-descricao{        
        color: #fffafa;
        position: relative;
        top: 30%;
    }

    .contanier .campo-link{        
        position: relative;
        top: 5%;
    }

    .contanier .campo-link .link1, .link2, .link3{
        background-color: white;
        width: 90%;        
        border-radius: 5%;
    }

    .contanier .campo-github .icon-git, .icon-insta, .icon-linkedin{
        position: relative;
        left: -7%;
        font-size: 45px;
        margin-left: 45px;
        box-sizing: border-box;
    }

    .contanier .campo-github{
        position: relative;
        top: -95%;
    }

    
    
} 
